[submodule "BESU_project"]
	path = BESU_project
	url = https://github.com/EGRM23/SSI_BESU.git
[submodule "SSI_App"]
	path = SSI_App
	url = https://github.com/VictorQuicano/SSI_App.git
[submodule "SSI_Project"]
	path = SSI_Project
	url = https://github.com/VictorQuicano/SSI_Project.git
